WebDiti/Connected Services/ServiceProjet/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7305/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7305/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7305/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDiti" />
      <xsd:import schemaLocation="http://localhost:7305/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfDiti.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProfil_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProfil" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProfilResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListProfil_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProfil" />
  </wsdl:message>
  <wsdl:message name="IService1_ListProfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProfilResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPersonne_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonne" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPersonne_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePersonne_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonne" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePersonne_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePersonne_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonne" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePersonne_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListPersonne_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPersonne" />
  </wsdl:message>
  <wsdl:message name="IService1_ListPersonne_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPersonneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPersonneById_InputMessage">
    <wsdl:part name="parameters" element="tns:getPersonneById" />
  </wsdl:message>
  <wsdl:message name="IService1_getPersonneById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPersonneByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddProfil" message="tns:IService1_AddProfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddProfilResponse" message="tns:IService1_AddProfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListProfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListProfil" message="tns:IService1_ListProfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListProfilResponse" message="tns:IService1_ListProfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPersonne">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPersonne" message="tns:IService1_AddPersonne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPersonneResponse" message="tns:IService1_AddPersonne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonne">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdatePersonne" message="tns:IService1_UpdatePersonne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdatePersonneResponse" message="tns:IService1_UpdatePersonne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersonne">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePersonne" message="tns:IService1_DeletePersonne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePersonneResponse" message="tns:IService1_DeletePersonne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPersonne">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListPersonne" message="tns:IService1_ListPersonne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListPersonneResponse" message="tns:IService1_ListPersonne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPersonneById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPersonneById" message="tns:IService1_getPersonneById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPersonneByIdResponse" message="tns:IService1_getPersonneById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProfil">
      <soap:operation soapAction="http://tempuri.org/IService1/AddProfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListProfil">
      <soap:operation soapAction="http://tempuri.org/IService1/ListProfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPersonne">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPersonne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonne">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdatePersonne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePersonne">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePersonne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPersonne">
      <soap:operation soapAction="http://tempuri.org/IService1/ListPersonne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonneById">
      <soap:operation soapAction="http://tempuri.org/IService1/getPersonneById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:7305/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>